* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RockTwo';
  src: url('roca-two-thin.ttf') format('truetype'); /* conserva ttf como fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body, html {
  font-family: 'RockTwo', serif;
  height: 100%;
  color: #626C4A;
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: transparent;
  z-index: 1000;
}

.logo-img {
  height: 80px; /* ajuste conforme o tamanho desejado */
  width: auto;
  margin-top: -5px; /* ajuste conforme necessário */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d4af37;
}


/* Hero */
.hero {
  min-height: 100vh;
  background: url('img1.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* alinha no topo */
  padding-top: 160px; /* espaço para a navbar fixa */
  text-align: center;
  height: 800px; /* ou o valor que preserve bem a imagem */
  background-size: cover;
  background-position: center top;


}

.hero-text {
  position: relative;
  z-index: 1;
  max-width: 700px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;   /* empilha os itens */
  align-items: center;      /* centraliza no eixo horizontal */
  text-align: center;       /* garante centralização do texto */
  gap: -5px;                /* espaço entre os elementos */
}



.hero-text h1 {
 
  font-size: 40px;
  font-weight: 100;
  color: #626C4A;

}

.hero-text h2 {
 
  font-size: 40px;
  font-weight: 100;
  color: #626C4A;
  margin-top: -35px;
  
  
}

.hero-text .date {
  font-size: 18px;
  margin-bottom: 20px;
  color: #626C4A;
 
}


/* Responsivo */
.menu-toggle {
  display: none;
  font-size: 25px;
  background: none;
  border: none;
  color: rgb(12, 12, 12);
  cursor: pointer;
  margin-top: -16px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(0, 0, 0, 0.95);
    padding: 20px;
    border-radius: 8px;
    display: none;
  }

  .nav-menu.active ul {
    display: flex;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


