* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RockTwo';
  src: url('Fontes/roca-two-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body, html {
  font-family: 'RockTwo', serif;
  height: 100%;
  color: #fff;
}

/* Navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d4af37;
}

.btn-presenca {
  background: #d4af37;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* Hero */
/* Hero */
.hero {
  min-height: 100vh; /* ocupa sempre a altura da tela */
  background: url('img1.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* efeito parallax no desktop */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.hero-text {
  position: relative;
  z-index: 1;
  max-width: 700px;
  padding: 0 20px; /* respiro lateral no mobile */
}

.hero-text .save-date {
  font-size: 20px;
  color: #f8f8f8;
  margin-bottom: 10px;
  font-style: italic;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-text .date {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-text .versiculo {
  font-size: 14px;
  line-height: 1.5;
}

/* Responsivo */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-menu ul {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 50px;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    display: none;
  }

  .nav-menu.active ul {
    display: flex;
  }
}
